((# ClassicThesis (André Miede) on top of scrbook.
    Bringhurst-style typography for serious academic monographs. #))
\documentclass[
  ((( options.paper ))),
  fontsize=((( options.font_size_pt )))pt,
  twoside=true,
  parskip=half,
  headings=optiontoheadandtoc,
]{scrbook}

\input{preamble_common.tex}
\input{preamble.tex}

((* if options.bibliography_placement == "chapter" and not is_flat *))
\usepackage[backend=biber,style=((( bib_style ))),refsection=chapter]{biblatex}
((* else *))
\usepackage[backend=biber,style=((( bib_style )))]{biblatex}
((* endif *))
\addbibresource{refs.bib}

((# classicthesis must come AFTER hyperref/microtype it expects.
    Our preamble_common loads them in the right order. #))
\usepackage[
  beramono=true,
  eulermath=false,
  pdfspacing=true,
  parts=false,
]{classicthesis}

\title{((( front.title | tex_escape )))((* if front.subtitle *))\\\large\itshape ((( front.subtitle | tex_escape ))) ((* endif *))}
\author{((( front.authors | join(' \\and ') | tex_escape )))}
\date{((* if front.date *))((( front.date | tex_escape )))((* else *))\today((* endif *))}

\begin{document}
\pagestyle{plain}
\frontmatter
\maketitle
((* if front.dedication *))
\cleardoublepage\thispagestyle{empty}\vspace*{0.3\textheight}
\begin{center}\itshape ((( front.dedication | tex_escape )))\end{center}\vfill
((* endif *))
((* if options.table_of_contents *))
\tableofcontents
((* endif *))
\mainmatter\pagestyle{scrheadings}

((* if is_flat *))
((* if chapters and chapters[0].sections *))
\chapter{((( chapters[0].title | tex_escape )))}
((* for s in chapters[0].sections if (s.section_type or '').lower() != 'abstract' *))
((( s | section_to_latex )))
((* endfor *))
((* endif *))
((* else *))
((* for ch in chapters *))
((( ch | chapter_to_latex )))
((* if options.bibliography_placement == "chapter" and bib_entries *))
\printbibliography[heading=subbibintoc, title={References}]
((* endif *))
((* endfor *))
((* endif *))

\backmatter
((* if bib_entries and (options.bibliography_placement != "chapter" or is_flat) *))
\printbibliography[heading=bibintoc]
((* endif *))
\end{document}
